In [1]:
class company:
    def __init__(self, employee_name,employee_sallary):
        self.employee_name=employee_name
        self.__employee_sallary=employee_name #if a single under score so call protected and doubel underscore so private means external user not change value

In [2]:
obj=company("radhe",34000)

In [3]:
obj.employee_name

'radhe'

In [7]:
obj.__employee_sallary

AttributeError: 'company' object has no attribute '__company'

In [91]:
#property decotrator 
class company1:
    def __init__(self, employee_name,employee_sallary):
        self.employee_name=employee_name
        self.__employee_sallary=employee_sallary
    @property
    def employee_sallary_access(self):
        return self.__employee_sallary
    @employee_sallary_access.setter
    def employee_sallary_set(self,sallary):
        if sallary<=34000:
            pass
        else:
            self.__employee_sallary=sallary
    @employee_sallary_access.deleter
    def employee_details_delet(self):
        del self.__employee_sallary
    @employee_sallary_access.getter  
    def employee_details_get(self):
        return self.employee_name, self.__employee_sallary

In [92]:
obj1=company1("radhe",34000)

In [93]:
obj1.employee_name

'radhe'

In [94]:
obj1.__employee_sallary

AttributeError: 'company1' object has no attribute '__employee_sallary'

In [95]:
obj1._company1__employee_sallary

34000

In [96]:
obj1.employee_sallary_access

34000

In [97]:
obj1.employee_sallary_set=45000

In [98]:
obj1.employee_sallary_access

45000

In [101]:
#del obj1.employee_details_delet #kii bhi atrribute ya value ko delet kr ne ke liye

In [99]:
obj1.employee_sallary_access

45000

In [100]:
obj1.employee_details_get

('radhe', 45000)